.log {
    position: relative; /* Change to relative position */
    z-index: 1; /* Ensure the content is in front of the video */
   
  }


.log h1{
    font-size: 30px;
}
.sign{
    font-style: italic;
}

.label1{
    margin-left: 43px !important;
    color:rgb(250, 235, 235);
}
.input1{
    margin-left: 40px !important;
    margin-top: 7px !important;
    height:37px;
    border-radius: 7px;
    padding: 10px !important;
    background-color: rgb(40, 36, 36);
}

.pass
{
    margin-top: 10px !important;
}

.but{
    width:50%;
    margin-left: 88px !important;
    margin-top: 20px !important;
    height:30px !important;
}

.but:hover{
  background-color: rgb(59, 56, 56)!important;
  color: white !important;
}
.acc
{
    margin-left: 43px !important;
    margin-top: 10px!important;
   
}
@media screen and (max-width: 700px) {
    .log{

     width:50% !important;
     color: antiquewhite !important;
     height:500px!important;
     font-size:14px!important;
    
   
     z-index: 1;
     
    }
    .label1{
        color: black !important;
        font-style: italic;
        font-weight: bold;
    }
    .video1{
        display: none!important;
        
    }
    .box2{
        margin-right: 130px!important;
        background-color:rgb(223, 249, 249)!important;
       
       
    }
    .contain{
        background-color: rgb(165, 190, 190);
        height:90vh !important;
        margin-top: 250px !important;
        margin-bottom: 100px!important;
        width:70% !important;
    }

    
    
  }

  .check{
    margin-left: 45px !important;
    margin-top: 13px !important;
    
    font-weight: 500;
  }

  .check1{
    margin-left: 10px !important;
    margin-top: 13px !important;
     font-weight: 500;
  }

  @media screen  and (max-width:360px){
    .log{
       background-color: transparent !important;
        width: 50% !important;
        height:fit-content!important;
        margin-top: 300px !important;
       }
       .contain{
        background-color: aquamarine!important;
        height:200vh !important;
       
      
       
       }

       .box2{
        margin-right: 100px!important;
        
        width:100% !important;
        
       }
       
  }

@media screen and (max-width:1200px)
{
    .log{
         position: absolute;
         top: 300px !important;
         left: 300px !important;
         font-size:14px!important;
         z-index: 1;
         
        }
       .image1{
        position: absolute;
        top: 80px !important
        
       }

       .box2{
          height: 550px!important;
         font-size: 12px !important;
         margin-top: 100px!important;
         
       }
      
}
@media screen and (max-width:900px)
{
    .log{
         position: absolute;
         top: 0px !important;
         left: 200px !important;
         font-size:14px!important;
         z-index: 1;
        
         
        }
       .image1{
        position: absolute;
        top: 80px !important;
        
        
       }

       .box2{
          height: 0px!important;
         font-size: 12px !important;
         margin-top: 100px!important;
         
       }
       .input1{
        height:32px !important;
        
       }

       .sign{
        font-size:22px!important;
       }
      .but{
        width:100px!important;
        height:20px !important;
        margin-left: 140px !important;

 
      }
}